<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>TexIt</title>
  <meta name="description" content="Quick, Elegant, LaTeX">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <!-- Modernizer -->
  <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>

  <!-- Stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,600|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-blue.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/texit.css') }}">
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery.Jcrop.js') }}"></script>
</head>